
.app-navigation {
  display: flex;
  justify-content: flex-end;
  padding: 70px 10px 0px 0px;
  width: 70%;
}

.app-navigation a {
  padding: 0px 7px;
  font-size: 1em;
}

.app-navigation a:hover {
  color: #247BA0;
  font-weight: 500;
}

.app-navigation a:focus {
  color: #247BA0;
}

.app-header {
  display: flex;
}

.app-logo {
  width: 30%;
  padding: 20px;
}

.app-logo h1, h3 {
  margin: 0;
}

.verticalLine {
  border-right: 0.1em solid white;
  height: 20px;
  margin-top: 1px;
}
