.app-container-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.app-content {
  background-color: white;
}

.app-content-page {
  padding: 20px;
  border: 1px solid rgba(214, 214, 214, 0.8);
}

/* Home Page */
.app-content-page-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  border-top: 1px solid rgba(214, 214, 214, 0.5);
  padding-top: 15px;
}

.app-content-page-text a{
  color: deepskyblue;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-content-page-text img{
  width: 150px;
  height: 150px;
  padding: 10px;
}

/* Products Page */
.app-page-products {
  display: flex;
}

.app-page-products h3 {
    padding: 20px;
}

/* 4k Screen */
.app-container {
  width: 55%;
  background-color: deepskyblue;
}

/* Large Screen */
@media (max-width:1440px) {
  .app-container {
    width: 60%;
  }
}

/* Medium Screen */
@media (max-width:1024px) {
  .app-container {
    width: 77%;
  }
}

/* Tablet */
@media (max-width:800px) {
  .app-container {
    width: 100%;
  }
  .app-navigation a {
    font-size: 1em;
  }
}

/* Mobile */
@media (max-width:500px) {
  .app-container {
    width: 100%;
  }
  .app-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .app-navigation a {
    padding: 6px 0px 6px 0px;
  }
  .verticalLine {
    border: none;
    height: 0px;
    margin-top: 3px;
  }
  .app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .app-logo {
    padding-top: 10px;
    width: auto !important;
  }
}
